<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title | default: site.title | escape }}</title>
  <meta name="description" content="{{ page.description | default: site.description | escape }}">
  <style>
    body {
      margin: 40px auto;
      max-width: 650px;
      line-height: 1.6;
      font-size: 18px;
      color: #444;
      padding: 0 10px;
    }
  </style>
</head>
<body>
  {{ content }}
</body>
</html>
